<!-- Modern Black Theme Loader Component -->
<div id="loading-screen" class="loader-container">
    <div class="loader-spinner"></div>
    
    <div class="loader-text">Initializing...</div>
    <div class="loader-subtitle">Please wait while we prepare your experience</div>
    
    <div class="loader-progress">
        <div class="loader-progress-bar"></div>
    </div>
    
    <div class="loader-dots">
        <div class="loader-dot"></div>
        <div class="loader-dot"></div>
        <div class="loader-dot"></div>
    </div>
</div>
