.framer-6jWyo.framer-n0ccwk{
    display: none;
}
.framer-6jWyo .framer-13yxzio{
    display: none;
}
.framer-6jWyo framer-n0ccwk framer-v-n0ccwk framer-bmpgw8 __framer-badge{
    display: none;
}
.framer-6jWyo.framer-bmpgw8, .framer-6jWyo .framer-bmpgw8{
    display: none!important;
}